In [68]:
import pandas as pd

In [69]:
df =pd.read_csv('Pokemon.csv')

In [70]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [71]:
len(df)

800

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [73]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [74]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [75]:
df['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [76]:
df['Defense'].sort_values()

121      5
488      5
261     10
186     15
188     15
      ...
414    200
223    200
333    230
230    230
224    230
Name: Defense, Length: 800, dtype: int64

In [77]:
df.sort_values('Defense',ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False

In [78]:
df.sort_values(['Defense','HP'],ascending=[True,False])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
188,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False
257,238,Smoochum,Ice,Psychic,305,45,30,15,85,65,65,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False

## feature Ingineering

## Add column

In [79]:
df['Attack'].mean()

79.00125

In [80]:
attack_mean=df['Attack'].mean()

def set_attack(val):
    if val < attack_mean:
        return'Attack low'
    else:
        return'Attack high'

In [81]:
df['attck_high_low']=df['Attack'].apply(set_attack)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,attck_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Attack low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Attack high
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Attack high
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Attack low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Attack high
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Attack high
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Attack high
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Attack high
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Attack high

In [82]:
df['HP'].mean()

69.25875

In [83]:
hp_mean=df['HP'].mean()

def set_hp(val):
    if val < hp_mean:
        return'HP low'
    else:
        return'HP high'

In [84]:
df['hp_high_low']=df['HP'].apply(set_hp)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,attck_high_low,hp_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack low,HP low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Attack low,HP low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Attack high,HP high
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Attack high,HP high
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Attack low,HP low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Attack high,HP low
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Attack high,HP low
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Attack high,HP high
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Attack high,HP high
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Attack high,HP high

In [85]:
df['Speed'].mean()

68.2775

In [88]:
speed_mean=df['Speed'].mean()

def set_speed(val):
    if val < speed_mean:
        return'Speed low'
    else:
        return'Speed high'

In [89]:
df['speed_high_low']=df['Speed'].apply(set_speed)
df.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,attck_high_low,hp_high_low,speed_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack low,HP low,Speed low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Attack low,HP low,Speed low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Attack high,HP high,Speed high
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Attack high,HP high,Speed high
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Attack low,HP low,Speed low
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Attack low,HP low,Speed high
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Attack high,HP high,Speed high
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Attack high,HP high,Speed high
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Attack high,HP high,Speed high
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,Attack low,HP low,Speed low
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,Attack low,HP low,Speed low
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,Attack high,HP high,Speed high
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,Attack high,HP high,Speed high
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,Attack low,HP low,Speed low
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,Attack low,HP low,Speed low
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False,Attack low,HP low,Speed high
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,Attack low,HP low,Speed low
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,Attack low,HP low,Speed low
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,Attack high,HP low,Speed high
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,Attack high,HP low,Speed high